/*Type Selectors*/




body {
    height: 100vh;
    margin: 0;
    overflow-x: scroll;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*Comprehensive Selector Lists*/

.header,
.sub-header,
.body-1,
.body-2,
.body-3,
.footer {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header,
.sub-header {
    background-color: #1F2937;
    color: white;
}


.header,
.footer {
    min-height:10vh;
}

.sub-header,
.body-1,
.body-2 {
    min-height: 55vh;
}


/*Header Attributes*/

.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}



.header-l-box {
    display: flex;

    font-size: 24px;
    color: #F9FAF8;
    

}


.header-r-box {
    display: flex;
    gap: 15px;

    font-size: 18px;
    color: #E5E7EB;
}

/*Subheader Attributes*/

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}



.sh-l-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    width: 50%;
}

.sh-lb-head {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sh-lb-body {
    font-size: 18px;
    color: #E5E7EB;
}

.sh-lb-su button {
    color: #F9FAF8;
    border: none;
    background-color: #3882F6;

    padding: 2% 3% 2% 3%;
    width: 100px;
    border-radius: 10px;
}

.sh-r-box {
   display: flex;
   align-items: center;
   margin-left: 2.5%;

    height: fit-content;
    overflow: hidden;
    max-width: 50%;
}

.sh-r-box img {
    height: 200px;
    object-fit: contain;
}

/*Body-1 Elements*/

.body-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAF8;
    padding-right: 10%;
    padding-left: 10%;


}

.b1-hf-wrapper {
 width: 100%;
}


.b1-header{
    display: flex;
    justify-content: center;
    text-align: center;

    margin-bottom: 20px;

    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.b1-img-subtext {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
}


.b1-s1-img,
.b1-s2-img,
.b1-s3-img,
.b1-s4-img {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 7px;
}

.b1-s1-sub,
.b1-s2-sub,
.b1-s3-sub,
.b1-s4-sub {
    width: 100px;
    height: auto;
    text-align: center;

    font-size: 18px;
    color: rgba(128, 128, 128, 75%);
}

/*Body-2 Attributes*/

.body-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 10%;
    padding-left: 10%;

    background-color: rgba(128, 128, 128, 75%);
}

.b2-quote {
    box-sizing: border-box;
    font-size: 22px;
    font-style: italic;
    color: #1F2937;

}

.b2-cite {
    font-size: 18px;
    font-style: normal;
    text-align: right;
}

/*Body-3 Attributes*/

.body-3 { 
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
    
    background-color: #F9FAF8;
    min-height: 45vh;
}

.b3-tot-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 5%;
    padding-left: 5%;
    height: 75px;
    width: 100%;

    border-radius: 3px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.b3-l-box {
    display: flex;
    flex-direction: column;
}

.b3-lb-head {
    font-weight: 700;
    font-size: 22px;
}

.b3-lb-cont {
    font-size: 18px;
}

.b3-r-box button {
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    background-color: #3882F6;

    padding: 5% 5% 5% 5%;
    width: 100px;
    border-radius: 10px;
}

/*Footer Attributes*/

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

